@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply box-border m-0 p-0;
}

/* || UTILITY CLASSES */
.errmsg {
    @apply inline-block bg-white text-red-600 mb-[0.5em] p-[0.25em];
}

.nowrap {
    @apply whitespace-nowrap;
}

.icon-button {
    @apply w-12 h-12 text-4xl bg-transparent border-none text-white grid place-content-center;
    @apply hover:scale-125;
    @apply sm:text-2xl;
    /* TODO: The visibility need to be set to hidden if the button is disabled */
}

/* || GENERAL STYLES */

/* The background setting other component referring to */
body {
    @apply min-h-screen bg-cyan-300 text-black;
    @apply bg-[url('img/background.jpg')] bg-cover bg-right-top bg-blend-multiply;
    @apply text-xl;
}

input,
button,
textarea,
select {
    font: inherit;
}

#root {
    @apply min-h-screen flex;
    /* React root div */
    flex-flow: column nowrap;
}

a {
    @apply no-underline;
}

a, a:visited {
    @apply text-slate-100;
}

a:hover,
a:focus-visible {
    @apply text-slate-100;
}

/* || PAGES */

.welcome {
    @apply flex flex-col gap-4;
    @apply font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-indigo-900 via-purple-900 to-pink-700;
    @apply text-2xl;
    @apply pl-5 pt-5;
}

.public {
    @apply grow p-[1em];
}


.public__main,
.login {
    @apply grow border-b-white border-t-white border-solid;
    @apply border-y-2;
    @apply px-0 py-[1em];
    @apply grow;
}

.public__addr {
    @apply mt-[1em];
}

.welcome a::before {
    @apply content-["➜_"];
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
    @apply sticky top-0 z-10;
    @apply bg-indigo-400;
    @apply border-b-2 border-solid border-white;
    @apply px-[0.5em] py-0;
    @apply md:px-[1em] md:py-0;

}

.dash-header__container {
    @apply flex justify-between items-center;
    flex-flow: row nowrap;
}

.dash-header__nav {
    @apply flex justify-end gap-[0.5em];
    @apply sm:gap-0;
    flex-flow: row nowrap;
}

.dash-container {
    @apply grow pt-[0.75em] pb-[0.5em] px-[0.5em];
    @apply md:p-[1em];
}

.dash-footer {
    @apply text-base sticky;
    @apply bottom-0 z-10 p-[0.5em] border-t-2 border-solid border-white;
    @apply flex justify-start;
    @apply gap-[1em];
    @apply bg-indigo-400;
    flex-flow: row nowrap;
}

.dash-footer__button {
    @apply text-base w-auto h-auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
    @apply contents;
}

.table {
    @apply text-base w-full grid grid-cols-[1fr_2fr_1fr] text-black gap-[0.1em];
    @apply md:text-2xl;
}

.table__button {
    @apply text-2xl text-black p-[0.25em];
}

.table__thead {
    @apply sticky z-10 top-0;
}

.table__th,
.table__cell {
    @apply bg-white text-left border border-black p-[0.5em] border-solid;
}

.table__cell:last-child {
    @apply grid place-content-center;
}

.table__cell--inactive {
    @apply bg-neutral-300;
}

/* ||  NOTE */

.note__created,
.note__updated,
.note__username {
    @apply hidden;
    @apply md:block;
}

.note__status {
    @apply font-bold;
}

.note__status--open {
    @apply text-green-600;
}

.note__status--completed {
    @apply text-red-600;
}

/* || FORM - GENERAL */

.form {
    @apply flex gap-[0.75em] max-w-screen-md;
    flex-flow: column nowrap;
}

.form__checkbox-container {
    @apply flex items-center w-fit gap-[0.5em];
}

.form__persist {
    @apply flex items-center w-full gap-[0.5em];
}

.form__title-row {
    @apply flex justify-between items-center;
}

.form__input,
.form__submit-button {
    @apply p-[0.5em] rounded-2xl;
}

.form__input--text {
    @apply min-h-[150px];
}

.form__input--incomplete {
    @apply border border-solid border-[red];
    outline: 1px solid red;
}

.form__checkbox {
    @apply w-6 h-6;
}

.form__select {
    @apply w-fit p-[0.25em];
}

.form__action-buttons {
    @apply flex justify-end items-center gap-[0.5em] absolute right-[0.5em];
    @apply static;
}

.form__row {
    @apply flex gap-[2em];
    flex-flow: row nowrap;
}

.form__divider {
    @apply flex gap-[0.5em];
    flex-flow: column nowrap;
}

/* The styles for link */
.link {
    @apply hover:font-bold;
}

/* Additional Screen Size Adjustment*/
@media screen and (max-width: 400px) {
    h1 {
        @apply text-[2rem];
    }
}

@media screen and (min-width: 768px) {
    .table--notes {
        @apply grid-cols-[repeat(3,1fr)_2fr_repeat(2,1fr)];
    }
}
